.contato-container{
    display: flex;
    flex-direction: column;
}

.contato-item span{
    font-size: clamp(0.1rem, -0.1727rem + 21.8182vw, 1rem);
}
.creditos{
    font-size: clamp(0.1rem, -0.1727rem + 21.8182vw, 1rem);
}

.social-container{
    display: flex;
    gap: 5%;
     font-size: clamp(0.5rem, 0.0455rem + 36.3636vw, 1.5rem); 
}
.contato-item{
    display: flex;
    gap: 2%;
}
.social-item{
    width: 51px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: .5px solid #FFFF;
    border-radius: 50%;
}
.social-item i{
    color: aliceblue;
}

.contato-item{
    padding: 2%;
}
.contato-item span{
    padding-left: 4%;
}

@media (max-width:630px) {
    .contato-item span{
        font-size: clamp(0.1rem, -0.1727rem + 21.8182vw, 0.8rem);
    }
    footer{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 5%;
    }

    .social-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contato-container{
       display: flex;
       flex-direction: row;
       width: 100%;
       align-items: center;;
       flex-wrap: wrap;
       padding-left: 5%;
    }

    .contato-container li{
        width: 50%;
        padding-top: 3%;
    }
    

}