.computerArea {
    display: flex;
    flex-direction: column;
    gap: 7%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    padding: 3%;
    height: 70vh;
}

.logoContent img{
    width: 65%;
    height: 65%;
}
.computerArea h1 {
    font-weight: 300;
    font-size: clamp(2.5rem, -3.838rem + 25.3521vw, 3.625rem);
}

.computerArea h1 span {
    color: #3347B0;
    font-weight: bold;
}

.computerArea img {
    width: 90%;
}

.studentArea {
    display: grid;
    place-content: center;
}

.studentArea img {
    width: 90%;
}

.coursesArea {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow-y: auto;
}
.imgFormat{
    width: 13%;
    filter: invert(100%);
}
.course {
    background-color: #3347B0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8%;
    gap: 4%;
    font-size: clamp(1.875rem, -0.4688rem + 7.5vw, 3.75rem);
    font-weight: 500;
    color: #FFFF;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.course:hover{
    -webkit-box-shadow: 12px 12px 5px -2px rgba(51, 71, 165, 0.47);
    -moz-box-shadow: 12px 12px 5px -2px rgba(51, 71, 165, 0.47);
    box-shadow: 12px 12px 5px -2px rgba(51, 71, 165, 0.47);
}

@media (max-width:750px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .studentArea {
        display: none;
    }

    .computerArea img {
        display: none;
    }

}

@media (max-width:450px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    }
}