body {
    display: grid;
    grid-template-areas: "header"
    "nav"
        "main"
        "footer";
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #3347B0;
}

.nav{
    grid-area: nav;
    display: flex;
    height: 5vh;
    align-items: center;
    background-color: #BCC2E5;
    justify-content: space-between;
    padding: .4% 5% .4% 5%;
    z-index: 1;
}

footer {
    width: 100vw;
    display: flex;
    grid-area: footer;
    place-content: center;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    color: #FFFF;
    background-color: #3347B0;
}

   